.container{
    height: 500px;
    width: 800px;
    border: 1px solid black;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px 350px 40px;
    text-align: center;
    color: white;

    grid-template-areas: 
    "hd hd hd "
    "as side cont"
    "ft ft ft";
}
.box{
    border: 1px solid black;
    background-color: blue;
}
#header{
    grid-area: hd;
}
#aside{
    grid-area: as;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: cont;
}
#footer{
    grid-area: ft;
}
@media (max-width:800px) {
    .container{
        height: 500px;
        width: 800px;
        border: 1px solid black;
        background-color: blueviolet;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 40px 350px 40px;
        text-align: center;
        color: white;

        grid-template-areas: 
        "hd hd"
        "side cont"
        "ft ft";

    }
    .box{
        background-color: aqua;
    }
    #aside{
        display: none;
    }
}
@media (min-width:400px) and (max-width:600px) {
    .container{
        height: 500px;
        width: 800px;
        border: 1px solid black;
        background-color: blueviolet;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 40px 180px 180px 40px;
        text-align: center;
        color: white;

        grid-template-areas: 
        "hd"
        "as"
        "cont"
        "ft";
    }
    .box{
        background-color:darkgreen;
    }
    #aside{
        display:initial;
    }
    #sidebar{
        display: none;
    }
}