.container{
    height: 700px;
    width: 1100px;
    border: 1px solid black;
    background-color: aqua;
    text-align:center;
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 40px 300px 100px 40px;
    grid-template-areas: 
    "hd hd hd"
    "side main aside"
    "side add aside"
    "ft ft ft";
}
.box{
    background-color: gray;
    border: 1px solid brown;
}
#box1{
    grid-area:hd;
}
#box2{
    grid-area:side;
}
#box3{
    grid-area:main;
}
#box4{
    grid-area:aside;
}
#box5{
    grid-area: add;
}
#box6{
    grid-area:ft;
}

@media (min-width:500px) and (max-width:900px){
    .container{
        width: 1100px;
        height: 700px;
        background-color: aqua;
        border: 1px solid green;
        text-align: center;
        display: grid;
        grid-template-columns: 100px 300px 100px;
        grid-template-rows: 40px 150px 300px 40px;
        grid-template-areas: 
        "hd hd hd"
        "side main aside"
        "side main aside"
        "ft ft ft";
    }
    .box{
        background-color:gray;
        border: 1px solid black;
    }
    #box1{
        grid-area:hd;
    }
    #box2{
        grid-area:side;
    }
    #box3{
        grid-area:main;
    }
    #box4{
        grid-area:ft;
        background-color: blue;
    }
    #box5{
        grid-area: aside;
    }
    
}

@media (max-width: 600px){
    .container{
        height: 700px;
        width: 1100px;
        background-color: aqua;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 400px;
        text-align: center;
        grid-template-rows: 40px 150px 300px 40px;
        grid-template-areas: 
        "hd"
        "side"
        "main"
        "ft";
    }
    .box{
        background-color: gray;
        border: 1px solid black;
    }
    #box1{
        grid-area: hd;
    }
    #box2{
        grid-area: side;
    }
    #box3{
        grid-area: main;
    }
    #box4{
        grid-area: ft;
    }
}