#heading{
    display: grid;
    grid-template-columns: 455px 300px 270px;
    grid-template-rows: 100px;
    justify-content: center;
}
.gellary{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 230px 230px 230px ;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
}
.card{
    position: relative;
    border: 3px solid gainsboro;
    padding-left: 20px;
}
#p{
    color: rgb(45, 202, 45);
}
#q{
    color: rgb(34, 32, 166);
}