.container{
    height: 250px;
    width: 1000px;
    background-color: yellow;
    border: 1px solid black;
    display: grid;
    margin-bottom: 50px;
}
.box{
    width: 198px;
    height: 198px;
    background-color: aqua;
    border:1px solid black;
    position: relative;
    top: 50px;
    transition: all 3s ease;

    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* .box:hover{
    transform: translateX(1200px) rotate(360deg) scale(1.5);
    background-color: blue; 
} */
@keyframes rotate {
    
    50%{
        background-color:aquamarine;
    }
    100%{
        transform:translateX(1200px) rotate(360deg) scale(1.5);
        background-color: blue;
        
    }
}

 .container2{
    height: 250px;
    width: 1400px;
    background-color:gray;
    border: 1px solid black;
    gap: 20px;
}
.box1{
    width: 150px;
    height: 150px;
    background-color: orange;

    animation: tiranga 4s ease infinite alternate;
}

 @keyframes tiranga {
    from{
        background-color: orange;

    }
     50% {
        background-color: white;
        transform: translateY(50px);
    }
    to{
        background-color: green;
        width: 100%;
    } 
} 