.container{
    height: 700px;
    width: 1100px;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 400px;
    text-align: center;
    grid-template-rows: 40px 150px 300px 40px;
    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft";
}
.box{
    background-color: gray;
    border: 1px solid black;
}
#box1{
    grid-area: hd;
}
#box2{
    grid-area: side;
}
#box3{
    grid-area: main;
}
#box4{
    grid-area: ft;
}