*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

body{
    background-color: #548587;
    text-align: center;
}
.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border:none;
    border-radius: 10px;
    font-size: 60px;
    background-color: white;
    color: red;
}
.rest-btn{
    color: white;
    padding: 1rem;
    background-color: #191913;
    border-radius: 10px;
    border: none;
}

.msg{
    margin: 20px;
    font-size: 45px;
}
.msg-container{
    height: 50px;
}
.hide{
    display: none;
}